<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>AppointmentWeb</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>AdminLogIn</display-name>
    <servlet-name>AdminLogIn</servlet-name>
    <servlet-class>com.r3sys.Services.AdminLogIn</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminLogIn</servlet-name>
    <url-pattern>/AdminLogIn</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddEmployee</display-name>
    <servlet-name>AddEmployee</servlet-name>
    <servlet-class>com.r3sys.Services.AddEmployee</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddEmployee</servlet-name>
    <url-pattern>/AddEmployee</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EmployeeLogin</display-name>
    <servlet-name>EmployeeLogin</servlet-name>
    <servlet-class>com.r3sys.Services.EmployeeLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmployeeLogin</servlet-name>
    <url-pattern>/EmployeeLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegisterUser</display-name>
    <servlet-name>RegisterUser</servlet-name>
    <servlet-class>com.r3sys.Services.RegisterUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterUser</servlet-name>
    <url-pattern>/RegisterUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginUser</display-name>
    <servlet-name>LoginUser</servlet-name>
    <servlet-class>com.r3sys.Services.LoginUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginUser</servlet-name>
    <url-pattern>/LoginUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Appointment</display-name>
    <servlet-name>Appointment</servlet-name>
    <servlet-class>com.r3sys.Services.Appointment</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Appointment</servlet-name>
    <url-pattern>/Appointment</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ChangePassword</display-name>
    <servlet-name>ChangePassword</servlet-name>
    <servlet-class>com.r3sys.Services.ChangePassword</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChangePassword</servlet-name>
    <url-pattern>/ChangePassword</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ChangeEmployePassword</display-name>
    <servlet-name>ChangeEmployePassword</servlet-name>
    <servlet-class>com.r3sys.Services.ChangeEmployePassword</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChangeEmployePassword</servlet-name>
    <url-pattern>/ChangeEmployePassword</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>NewFile</display-name>
    <servlet-name>NewFile</servlet-name>
    <servlet-class>com.r3sys.Services.NewFile</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NewFile</servlet-name>
    <url-pattern>/NewFile</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>NewServlet</display-name>
    <servlet-name>NewServlet</servlet-name>
    <servlet-class>com.r3sys.Services.NewServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NewServlet</servlet-name>
    <url-pattern>/NewServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BookAppointment</display-name>
    <servlet-name>BookAppointment</servlet-name>
    <servlet-class>com.r3sys.Services.BookAppointment</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BookAppointment</servlet-name>
    <url-pattern>/BookAppointment</url-pattern>
  </servlet-mapping>
</web-app>